body{
	background-color: #000;
	color: #FFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.home_epic_bold{
	font-size: 34px;
	font-weight: bold;
}

h2{	font-size: 30px;
	font-weight: bold;
}

a, a:visited, a:active {
	color: #eeb300;
	text-decoration: none;
}
a.white, a.white:visited, a.white:active {
	color: #FFF;
	text-decoration: none;
}
.highlighted{
	color: #eeb300;
}

.footer_gray{
	color: #4d4d4d;
}

.floater{
	float: left;
	width: 220px;
	height: 180px;
	overflow:hidden;
}

.panel_details{	background-color: #252525;
		position:relative; 
		height: 220px;
		width: 100%; 
		opacity: .85;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
		filter: alpha(opacity=85);
		font-weight: bold;
		padding: 15px 0px 0px 5px;

}

.frontpage_content{
	height: 130px;	
	background-color:#252525;
	position:relative;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: -5px;
	padding-top: 20px;
}

.spacer{
	height: 130px;
	display:block;
}

#epic_logo{
	float: left;
	background-color:#343434;
	font-weight: bold;
	width: 200px;
	height: 28px;
	padding-top: 12px;
}

#main_container{
	width: 1070px;
	height: 826px;
	background-image: url('/images/bg.png');
	background-repeat: no-repeat;
}

#menu_container{
	width: 100%;
	height: 40px;
	background-color: #242424;
}

#menu{
	width: 880px;
}

#menu_links{
	float: left;
	height: 42px;
	padding-top: 8px;
	padding-left: 100px;
}

#links_table{
	font-size: 12px;
}


.links_cell{
	padding-right: 20px;
}

#content_container{
	width: 880px;
	margin-top: 20px;
	padding-top: 10px;
}

#footer{
	font-size: 12px;
	width: 880px;
	padding: 25px 0px 0px 5px;
}

#address{
	float: left;
}

#hours{
	float: left;
	padding-left: 50px;
	
}

#bottom_links{
	float: left;
	padding-left: 70px;
}

#design_panel{
	background-image: url('/images/design.png');
}

#development_panel{
	background-image: url('/images/development.png');
}

#installation_panel{
	background-image: url('/images/installation.png');
}

#service_panel{
	background-image: url('/images/service.png');
}